

#header{  
    color: #006699 ;  
    text-align: center;  
    font-size: 50px;  
    font-family:"Comic Sans MS", cursive, sans-serif
}  
#nav{  
    background-color: #006699 ;  
    padding: 0px; 
    margin-bottom:0px; 
}  

ul{  
  
    list-style-type: none;  
}  
li a {  
    color: #F1FAEE;  
    font-size: 30px;  
    column-width: 140px; 
    }  
    li  {
      
    display: inline;  
    padding-left: 2px;  
    column-width: 190px;  
   }  
   a{  
 text-decoration: none;  
 margin-left:20px  
    }  
   li a:hover{  
    background-color: #F3FFBD;  
    color: #FF1654;  
    padding:1%;  
   }  
  
      
#footer {
    background-color:#006699;
    text-align: center;
    color: #F1FAEE;  
    font-size: 30px;
    margin-top: 200px;
    padding-top: 40px;
    padding-bottom: 60px;
    height:50px;
        }
        
    #img1{
        float:right;
        width:400px;
        height:400px;
    }
    #img2{ 
        /*/*float:right;*/
        width:1600px;
        height:200px;
        

    }
    #coni{
        margin:0px;
        border:0px;

    }
    .logoutbutton{
        margin-right:40px;
    }
    #con1{  
       border:double;  
       border-color: #006699;  
       align-content:center
   }  
    #img{
        width:150px;
        height:150px;
    }
    #img3{
        width:50px;
        height:50px;
    }
    #img4 
    {
        float: right;
        width: 400px;
        height: 400px;
        margin-right: 200px;
    }
    welcome{
        background-image:url("/Images/icon2.png");
    }
        
    